StefaniniServer/bin/Debug/net6.0/appsettings.Development.json
StefaniniServer/bin/Debug/net6.0/appsettings.json
StefaniniServer/bin/Debug/net6.0/Humanizer.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.Design.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.Design.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.Identity.Client.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.OpenApi.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
StefaniniServer/bin/Debug/net6.0/StefaniniServer.deps.json
StefaniniServer/bin/Debug/net6.0/StefaniniServer.dll
StefaniniServer/bin/Debug/net6.0/StefaniniServer.exe
StefaniniServer/bin/Debug/net6.0/StefaniniServer.pdb
StefaniniServer/bin/Debug/net6.0/StefaniniServer.runtimeconfig.json
StefaniniServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
StefaniniServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
StefaniniServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
StefaniniServer/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
StefaniniServer/bin/Debug/net6.0/System.Drawing.Common.dll
StefaniniServer/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
StefaniniServer/bin/Debug/net6.0/System.Runtime.Caching.dll
StefaniniServer/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Debug/net6.0/System.Security.Permissions.dll
StefaniniServer/bin/Debug/net6.0/System.Windows.Extensions.dll
StefaniniServer/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
StefaniniServer/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/obj/project.assets.json
StefaniniServer/obj/project.nuget.cache
StefaniniServer/obj/staticwebassets.pack.sentinel
StefaniniServer/obj/StefaniniServer.csproj.EntityFrameworkCore.targets
StefaniniServer/obj/StefaniniServer.csproj.nuget.dgspec.json
StefaniniServer/obj/StefaniniServer.csproj.nuget.g.props
StefaniniServer/obj/StefaniniServer.csproj.nuget.g.targets
StefaniniServer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StefaniniServer/obj/Debug/net6.0/apphost.exe
StefaniniServer/obj/Debug/net6.0/staticwebassets.build.json
StefaniniServer/obj/Debug/net6.0/StefaniniServer.AssemblyInfo.cs
StefaniniServer/obj/Debug/net6.0/StefaniniServer.AssemblyInfoInputs.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.assets.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.csproj.AssemblyReference.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.csproj.CopyComplete
StefaniniServer/obj/Debug/net6.0/StefaniniServer.csproj.CoreCompileInputs.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.csproj.FileListAbsolute.txt
StefaniniServer/obj/Debug/net6.0/StefaniniServer.dll
StefaniniServer/obj/Debug/net6.0/StefaniniServer.GeneratedMSBuildEditorConfig.editorconfig
StefaniniServer/obj/Debug/net6.0/StefaniniServer.genruntimeconfig.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.GlobalUsings.g.cs
StefaniniServer/obj/Debug/net6.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cs
StefaniniServer/obj/Debug/net6.0/StefaniniServer.pdb
StefaniniServer/obj/Debug/net6.0/ref/StefaniniServer.dll
StefaniniServer/obj/Debug/net6.0/refint/StefaniniServer.dll
