StefaniniServer/bin/Debug/net6.0/appsettings.Development.json
StefaniniServer/bin/Debug/net6.0/appsettings.json
StefaniniServer/bin/Debug/net6.0/Humanizer.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.Design.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.Design.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.Identity.Client.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.OpenApi.dll
StefaniniServer/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
StefaniniServer/bin/Debug/net6.0/StefaniniServer.deps.json
StefaniniServer/bin/Debug/net6.0/StefaniniServer.dll
StefaniniServer/bin/Debug/net6.0/StefaniniServer.exe
StefaniniServer/bin/Debug/net6.0/StefaniniServer.pdb
StefaniniServer/bin/Debug/net6.0/StefaniniServer.runtimeconfig.json
StefaniniServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
StefaniniServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
StefaniniServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
StefaniniServer/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
StefaniniServer/bin/Debug/net6.0/System.Drawing.Common.dll
StefaniniServer/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
StefaniniServer/bin/Debug/net6.0/System.Runtime.Caching.dll
StefaniniServer/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Debug/net6.0/System.Security.Permissions.dll
StefaniniServer/bin/Debug/net6.0/System.Windows.Extensions.dll
StefaniniServer/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
StefaniniServer/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/obj/project.assets.json
StefaniniServer/obj/project.nuget.cache
StefaniniServer/obj/staticwebassets.pack.sentinel
StefaniniServer/obj/StefaniniServer.csproj.EntityFrameworkCore.targets
StefaniniServer/obj/StefaniniServer.csproj.nuget.dgspec.json
StefaniniServer/obj/StefaniniServer.csproj.nuget.g.props
StefaniniServer/obj/StefaniniServer.csproj.nuget.g.targets
StefaniniServer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StefaniniServer/obj/Debug/net6.0/apphost.exe
StefaniniServer/obj/Debug/net6.0/staticwebassets.build.json
StefaniniServer/obj/Debug/net6.0/StefaniniServer.AssemblyInfo.cs
StefaniniServer/obj/Debug/net6.0/StefaniniServer.AssemblyInfoInputs.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.assets.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.csproj.AssemblyReference.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.csproj.CopyComplete
StefaniniServer/obj/Debug/net6.0/StefaniniServer.csproj.CoreCompileInputs.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.csproj.FileListAbsolute.txt
StefaniniServer/obj/Debug/net6.0/StefaniniServer.dll
StefaniniServer/obj/Debug/net6.0/StefaniniServer.GeneratedMSBuildEditorConfig.editorconfig
StefaniniServer/obj/Debug/net6.0/StefaniniServer.genruntimeconfig.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.GlobalUsings.g.cs
StefaniniServer/obj/Debug/net6.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cache
StefaniniServer/obj/Debug/net6.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cs
StefaniniServer/obj/Debug/net6.0/StefaniniServer.pdb
StefaniniServer/obj/Debug/net6.0/ref/StefaniniServer.dll
StefaniniServer/obj/Debug/net6.0/refint/StefaniniServer.dll
StefaniniServer/.vscode/launch.json
StefaniniServer/.vscode/tasks.json
StefaniniServer/bin/Debug/net5.0/appsettings.Development.json
StefaniniServer/bin/Debug/net5.0/appsettings.json
StefaniniServer/bin/Debug/net5.0/Humanizer.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.AspNetCore.JsonPatch.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.Identity.Client.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
StefaniniServer/bin/Debug/net5.0/Microsoft.OpenApi.dll
StefaniniServer/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
StefaniniServer/bin/Debug/net5.0/Newtonsoft.Json.dll
StefaniniServer/bin/Debug/net5.0/StefaniniServer.deps.json
StefaniniServer/bin/Debug/net5.0/StefaniniServer.dll
StefaniniServer/bin/Debug/net5.0/StefaniniServer.exe
StefaniniServer/bin/Debug/net5.0/StefaniniServer.pdb
StefaniniServer/bin/Debug/net5.0/StefaniniServer.runtimeconfig.dev.json
StefaniniServer/bin/Debug/net5.0/StefaniniServer.runtimeconfig.json
StefaniniServer/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
StefaniniServer/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
StefaniniServer/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
StefaniniServer/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
StefaniniServer/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
StefaniniServer/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
StefaniniServer/bin/Debug/net5.0/System.Runtime.Caching.dll
StefaniniServer/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
StefaniniServer/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
StefaniniServer/obj/Debug/net5.0/apphost.exe
StefaniniServer/obj/Debug/net5.0/project.razor.json
StefaniniServer/obj/Debug/net5.0/StefaniniServer.AssemblyInfo.cs
StefaniniServer/obj/Debug/net5.0/StefaniniServer.AssemblyInfoInputs.cache
StefaniniServer/obj/Debug/net5.0/StefaniniServer.assets.cache
StefaniniServer/obj/Debug/net5.0/StefaniniServer.csproj.AssemblyReference.cache
StefaniniServer/obj/Debug/net5.0/StefaniniServer.csproj.CopyComplete
StefaniniServer/obj/Debug/net5.0/StefaniniServer.csproj.CoreCompileInputs.cache
StefaniniServer/obj/Debug/net5.0/StefaniniServer.csproj.FileListAbsolute.txt
StefaniniServer/obj/Debug/net5.0/StefaniniServer.dll
StefaniniServer/obj/Debug/net5.0/StefaniniServer.GeneratedMSBuildEditorConfig.editorconfig
StefaniniServer/obj/Debug/net5.0/StefaniniServer.genruntimeconfig.cache
StefaniniServer/obj/Debug/net5.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cache
StefaniniServer/obj/Debug/net5.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cs
StefaniniServer/obj/Debug/net5.0/StefaniniServer.pdb
StefaniniServer/obj/Debug/net5.0/StefaniniServer.RazorTargetAssemblyInfo.cache
StefaniniServer/obj/Debug/net5.0/ref/StefaniniServer.dll
StefaniniServer/obj/Debug/net5.0/refint/StefaniniServer.dll
StefaniniServer/obj/Debug/net5.0/staticwebassets/StefaniniServer.StaticWebAssets.Manifest.cache
StefaniniServerdasdas/appsettings.Development.json
StefaniniServerdasdas/appsettings.json
StefaniniServerdasdas/Program.cs
StefaniniServerdasdas/readme.md
StefaniniServerdasdas/StefaniniServer.csproj
StefaniniServerdasdas/.vscode/launch.json
StefaniniServerdasdas/.vscode/tasks.json
StefaniniServerdasdas/Controllers/CidadeController.cs
StefaniniServerdasdas/Controllers/PessoaController.cs
StefaniniServerdasdas/DTO/CidadeDTO.cs
StefaniniServerdasdas/DTO/PessoaDTO.cs
StefaniniServerdasdas/Data/devStefaniniContext.cs
StefaniniServerdasdas/Models/Cidade.cs
StefaniniServerdasdas/Models/Pessoa.cs
StefaniniServerdasdas/Properties/launchSettings.json
StefaniniServerdasdas/Services/ServCity.cs
StefaniniServerdasdas/Services/ServPerson.cs
StefaniniServerdasdas/Views/CityView.cs
StefaniniServerdasdas/Views/Confirmation.cs
StefaniniServerdasdas/Views/PersonView.cs
StefaniniServerdasdas/bin/Debug/net6.0/appsettings.Development.json
StefaniniServerdasdas/bin/Debug/net6.0/appsettings.json
StefaniniServerdasdas/bin/Debug/net6.0/Humanizer.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.Design.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.Design.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.Identity.Client.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.OpenApi.dll
StefaniniServerdasdas/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
StefaniniServerdasdas/bin/Debug/net6.0/StefaniniServer.deps.json
StefaniniServerdasdas/bin/Debug/net6.0/StefaniniServer.dll
StefaniniServerdasdas/bin/Debug/net6.0/StefaniniServer.exe
StefaniniServerdasdas/bin/Debug/net6.0/StefaniniServer.pdb
StefaniniServerdasdas/bin/Debug/net6.0/StefaniniServer.runtimeconfig.json
StefaniniServerdasdas/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
StefaniniServerdasdas/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
StefaniniServerdasdas/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
StefaniniServerdasdas/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
StefaniniServerdasdas/bin/Debug/net6.0/System.Drawing.Common.dll
StefaniniServerdasdas/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
StefaniniServerdasdas/bin/Debug/net6.0/System.Runtime.Caching.dll
StefaniniServerdasdas/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServerdasdas/bin/Debug/net6.0/System.Security.Permissions.dll
StefaniniServerdasdas/bin/Debug/net6.0/System.Windows.Extensions.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServerdasdas/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServerdasdas/obj/project.assets.json
StefaniniServerdasdas/obj/project.nuget.cache
StefaniniServerdasdas/obj/staticwebassets.pack.sentinel
StefaniniServerdasdas/obj/StefaniniServer.csproj.EntityFrameworkCore.targets
StefaniniServerdasdas/obj/StefaniniServer.csproj.nuget.dgspec.json
StefaniniServerdasdas/obj/StefaniniServer.csproj.nuget.g.props
StefaniniServerdasdas/obj/StefaniniServer.csproj.nuget.g.targets
StefaniniServerdasdas/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StefaniniServerdasdas/obj/Debug/net6.0/apphost.exe
StefaniniServerdasdas/obj/Debug/net6.0/project.razor.json
StefaniniServerdasdas/obj/Debug/net6.0/staticwebassets.build.json
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.AssemblyInfo.cs
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.AssemblyInfoInputs.cache
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.assets.cache
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.csproj.AssemblyReference.cache
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.csproj.CopyComplete
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.csproj.CoreCompileInputs.cache
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.csproj.FileListAbsolute.txt
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.dll
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.GeneratedMSBuildEditorConfig.editorconfig
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.genruntimeconfig.cache
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.GlobalUsings.g.cs
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cache
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cs
StefaniniServerdasdas/obj/Debug/net6.0/StefaniniServer.pdb
StefaniniServerdasdas/obj/Debug/net6.0/ref/StefaniniServer.dll
StefaniniServerdasdas/obj/Debug/net6.0/refint/StefaniniServer.dll
deployAngular/.vscode/settings.json
deployAngular/.vscode/tasks.json
deployAngular/bin/Release/net5.0/appsettings.Development.json
deployAngular/bin/Release/net5.0/appsettings.json
deployAngular/bin/Release/net5.0/deployAngular.deps.json
deployAngular/bin/Release/net5.0/deployAngular.dll
deployAngular/bin/Release/net5.0/deployAngular.exe
deployAngular/bin/Release/net5.0/deployAngular.pdb
deployAngular/bin/Release/net5.0/deployAngular.runtimeconfig.dev.json
deployAngular/bin/Release/net5.0/deployAngular.runtimeconfig.json
deployAngular/bin/Release/net5.0/publish/appsettings.Development.json
deployAngular/bin/Release/net5.0/publish/appsettings.json
deployAngular/bin/Release/net5.0/publish/deployAngular.deps.json
deployAngular/bin/Release/net5.0/publish/deployAngular.dll
deployAngular/bin/Release/net5.0/publish/deployAngular.exe
deployAngular/bin/Release/net5.0/publish/deployAngular.pdb
deployAngular/bin/Release/net5.0/publish/deployAngular.runtimeconfig.json
deployAngular/bin/Release/net5.0/publish/web.config
deployAngular/bin/Release/net5.0/publish/wwwroot/3rdpartylicenses.txt
deployAngular/bin/Release/net5.0/publish/wwwroot/favicon.ico
deployAngular/bin/Release/net5.0/publish/wwwroot/index.html
deployAngular/bin/Release/net5.0/publish/wwwroot/main.e9a9c21bc692d198.js
deployAngular/bin/Release/net5.0/publish/wwwroot/polyfills.7a416680337b3c61.js
deployAngular/bin/Release/net5.0/publish/wwwroot/runtime.b1cf3731cd813e06.js
deployAngular/bin/Release/net5.0/publish/wwwroot/styles.6c75b4fe1baa1fd8.css
deployAngular/bin/Release/net5.0/publish/wwwroot/assets/background.jpg
deployAngular/obj/deployAngular.csproj.nuget.dgspec.json
deployAngular/obj/deployAngular.csproj.nuget.g.props
deployAngular/obj/deployAngular.csproj.nuget.g.targets
deployAngular/obj/project.assets.json
deployAngular/obj/project.nuget.cache
deployAngular/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
deployAngular/obj/Debug/net5.0/apphost.exe
deployAngular/obj/Debug/net5.0/deployAngular.AssemblyInfo.cs
deployAngular/obj/Debug/net5.0/deployAngular.AssemblyInfoInputs.cache
deployAngular/obj/Debug/net5.0/deployAngular.assets.cache
deployAngular/obj/Debug/net5.0/deployAngular.csproj.AssemblyReference.cache
deployAngular/obj/Debug/net5.0/deployAngular.csproj.FileListAbsolute.txt
deployAngular/obj/Debug/net5.0/deployAngular.GeneratedMSBuildEditorConfig.editorconfig
deployAngular/obj/Debug/net5.0/project.razor.json
deployAngular/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
deployAngular/obj/Release/net5.0/apphost.exe
deployAngular/obj/Release/net5.0/deployAngular.AssemblyInfo.cs
deployAngular/obj/Release/net5.0/deployAngular.AssemblyInfoInputs.cache
deployAngular/obj/Release/net5.0/deployAngular.assets.cache
deployAngular/obj/Release/net5.0/deployAngular.csproj.AssemblyReference.cache
deployAngular/obj/Release/net5.0/deployAngular.csproj.CoreCompileInputs.cache
deployAngular/obj/Release/net5.0/deployAngular.csproj.FileListAbsolute.txt
deployAngular/obj/Release/net5.0/deployAngular.dll
deployAngular/obj/Release/net5.0/deployAngular.GeneratedMSBuildEditorConfig.editorconfig
deployAngular/obj/Release/net5.0/deployAngular.genruntimeconfig.cache
deployAngular/obj/Release/net5.0/deployAngular.MvcApplicationPartsAssemblyInfo.cache
deployAngular/obj/Release/net5.0/deployAngular.pdb
deployAngular/obj/Release/net5.0/deployAngular.RazorTargetAssemblyInfo.cache
deployAngular/obj/Release/net5.0/PublishOutputs.f520f5e9aa.txt
deployAngular/obj/Release/net5.0/ref/deployAngular.dll
deployAngular/obj/Release/net5.0/refint/deployAngular.dll
deployAngular/obj/Release/net5.0/staticwebassets/deployAngular.StaticWebAssets.Manifest.cache
StefaniniServer/bin/Release/net5.0/appsettings.Development.json
StefaniniServer/bin/Release/net5.0/appsettings.json
StefaniniServer/bin/Release/net5.0/Humanizer.dll
StefaniniServer/bin/Release/net5.0/Microsoft.AspNetCore.JsonPatch.dll
StefaniniServer/bin/Release/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
StefaniniServer/bin/Release/net5.0/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
StefaniniServer/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Design.dll
StefaniniServer/bin/Release/net5.0/Microsoft.EntityFrameworkCore.dll
StefaniniServer/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
StefaniniServer/bin/Release/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
StefaniniServer/bin/Release/net5.0/Microsoft.Extensions.DependencyInjection.dll
StefaniniServer/bin/Release/net5.0/Microsoft.Identity.Client.dll
StefaniniServer/bin/Release/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
StefaniniServer/bin/Release/net5.0/Microsoft.IdentityModel.Logging.dll
StefaniniServer/bin/Release/net5.0/Microsoft.IdentityModel.Protocols.dll
StefaniniServer/bin/Release/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
StefaniniServer/bin/Release/net5.0/Microsoft.IdentityModel.Tokens.dll
StefaniniServer/bin/Release/net5.0/Microsoft.OpenApi.dll
StefaniniServer/bin/Release/net5.0/Newtonsoft.Json.Bson.dll
StefaniniServer/bin/Release/net5.0/Newtonsoft.Json.dll
StefaniniServer/bin/Release/net5.0/StefaniniServer.deps.json
StefaniniServer/bin/Release/net5.0/StefaniniServer.dll
StefaniniServer/bin/Release/net5.0/StefaniniServer.exe
StefaniniServer/bin/Release/net5.0/StefaniniServer.pdb
StefaniniServer/bin/Release/net5.0/StefaniniServer.runtimeconfig.dev.json
StefaniniServer/bin/Release/net5.0/StefaniniServer.runtimeconfig.json
StefaniniServer/bin/Release/net5.0/Swashbuckle.AspNetCore.Swagger.dll
StefaniniServer/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
StefaniniServer/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
StefaniniServer/bin/Release/net5.0/System.Configuration.ConfigurationManager.dll
StefaniniServer/bin/Release/net5.0/System.Diagnostics.DiagnosticSource.dll
StefaniniServer/bin/Release/net5.0/System.IdentityModel.Tokens.Jwt.dll
StefaniniServer/bin/Release/net5.0/System.Runtime.Caching.dll
StefaniniServer/bin/Release/net5.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Release/net5.0/publish/appsettings.Development.json
StefaniniServer/bin/Release/net5.0/publish/appsettings.json
StefaniniServer/bin/Release/net5.0/publish/Microsoft.AspNetCore.JsonPatch.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.EntityFrameworkCore.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.EntityFrameworkCore.Relational.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.EntityFrameworkCore.SqlServer.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.Extensions.DependencyInjection.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.Identity.Client.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.IdentityModel.JsonWebTokens.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.IdentityModel.Logging.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.IdentityModel.Protocols.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.IdentityModel.Tokens.dll
StefaniniServer/bin/Release/net5.0/publish/Microsoft.OpenApi.dll
StefaniniServer/bin/Release/net5.0/publish/Newtonsoft.Json.Bson.dll
StefaniniServer/bin/Release/net5.0/publish/Newtonsoft.Json.dll
StefaniniServer/bin/Release/net5.0/publish/StefaniniServer.deps.json
StefaniniServer/bin/Release/net5.0/publish/StefaniniServer.dll
StefaniniServer/bin/Release/net5.0/publish/StefaniniServer.exe
StefaniniServer/bin/Release/net5.0/publish/StefaniniServer.pdb
StefaniniServer/bin/Release/net5.0/publish/StefaniniServer.runtimeconfig.json
StefaniniServer/bin/Release/net5.0/publish/Swashbuckle.AspNetCore.Swagger.dll
StefaniniServer/bin/Release/net5.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
StefaniniServer/bin/Release/net5.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
StefaniniServer/bin/Release/net5.0/publish/System.Configuration.ConfigurationManager.dll
StefaniniServer/bin/Release/net5.0/publish/System.Diagnostics.DiagnosticSource.dll
StefaniniServer/bin/Release/net5.0/publish/System.IdentityModel.Tokens.Jwt.dll
StefaniniServer/bin/Release/net5.0/publish/System.Runtime.Caching.dll
StefaniniServer/bin/Release/net5.0/publish/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Release/net5.0/publish/web.config
StefaniniServer/bin/Release/net5.0/publish/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Release/net5.0/publish/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Release/net5.0/publish/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
StefaniniServer/bin/Release/net5.0/publish/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Release/net5.0/publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Release/net5.0/publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Release/net5.0/publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Release/net5.0/publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Release/net5.0/publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Release/net5.0/publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Release/net5.0/publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Release/net5.0/publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Release/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Release/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
StefaniniServer/bin/Release/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
StefaniniServer/bin/Release/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
StefaniniServer/bin/Release/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Release/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Release/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Release/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Release/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Release/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/bin/Release/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
StefaniniServer/bin/Release/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
StefaniniServer/.vscode/settings.json
StefaniniServer/obj/Debug/net5.0/PublishOutputs.cbf60db7e7.txt
StefaniniServer/obj/Debug/net5.0/StefaniniServer.deps.json
StefaniniServer/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
StefaniniServer/obj/Release/net5.0/apphost.exe
StefaniniServer/obj/Release/net5.0/PublishOutputs.c3899b14b3.txt
StefaniniServer/obj/Release/net5.0/StefaniniServer.AssemblyInfo.cs
StefaniniServer/obj/Release/net5.0/StefaniniServer.AssemblyInfoInputs.cache
StefaniniServer/obj/Release/net5.0/StefaniniServer.assets.cache
StefaniniServer/obj/Release/net5.0/StefaniniServer.csproj.AssemblyReference.cache
StefaniniServer/obj/Release/net5.0/StefaniniServer.csproj.CopyComplete
StefaniniServer/obj/Release/net5.0/StefaniniServer.csproj.CoreCompileInputs.cache
StefaniniServer/obj/Release/net5.0/StefaniniServer.csproj.FileListAbsolute.txt
StefaniniServer/obj/Release/net5.0/StefaniniServer.deps.json
StefaniniServer/obj/Release/net5.0/StefaniniServer.dll
StefaniniServer/obj/Release/net5.0/StefaniniServer.GeneratedMSBuildEditorConfig.editorconfig
StefaniniServer/obj/Release/net5.0/StefaniniServer.genruntimeconfig.cache
StefaniniServer/obj/Release/net5.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cache
StefaniniServer/obj/Release/net5.0/StefaniniServer.MvcApplicationPartsAssemblyInfo.cs
StefaniniServer/obj/Release/net5.0/StefaniniServer.pdb
StefaniniServer/obj/Release/net5.0/StefaniniServer.RazorTargetAssemblyInfo.cache
StefaniniServer/obj/Release/net5.0/ref/StefaniniServer.dll
StefaniniServer/obj/Release/net5.0/refint/StefaniniServer.dll
StefaniniServer/obj/Release/net5.0/staticwebassets/StefaniniServer.StaticWebAssets.Manifest.cache
