<div class="input-group">
  <label for="nome">Pessoa</label>
  <div class="input-box">
    <label for="nome">Nome</label>
    <input
      id="nome"
      type="text"
      name="nome"
      placeholder="Digite seu primeiro nome"
      required
    />
  </div>
  <div class="input-box">
    <label for="uf">CPF</label>
    <input
      id="uf"
      type="text"
      name=""
      placeholder="Digite seu primeiro nome"
      required
    />
  </div>
  <div class="input-box">
    <label for="nome">Cidade</label>
    <input
      id="nome"
      type="text"
      name="nome"
      placeholder="Digite seu primeiro nome"
      required
    />
    <div class="input-box">
      <label for="nome">Idade</label>
      <input
        id="nome"
        type="text"
        name="nome"
        placeholder="Digite seu primeiro nome"
        required
      />
    </div>
  </div>
</div>
