<div class="container">
  <div class="form-image">
    <img src="../assets/background.jpg" />
  </div>
  <div class="form">
    <app-tabela *ngIf="isValid == 3"></app-tabela>
    <div class="cads-inputs" *ngIf="isValid != 3">
      <div class="cads-title">
        <h6>Cadastro</h6>
        <div class="cads-group">
          <div class="cads-input">
            <input
              type="radio"
              name="Pessoa"
              (click)="ChangeData(1)"
              [defaultChecked]="true"
            />
            <label for="Pessoa">Pessoa</label>
          </div>
          <div class="cads-input">
            <input
              type="radio"
              name="Cidade"
              (click)="ChangeData(2)"
              [defaultChecked]="false"
            />
            <label for="Cidade">Cidade</label>
          </div>
        </div>
      </div>
      <form action="#">
        <app-pessoa *ngIf="isValid == 1"></app-pessoa>
        <app-cidade *ngIf="isValid == 2"></app-cidade>
        <div class="continue-button">
          <button (click)="ChangeData(3)">Tabela</button>
        </div>
      </form>
    </div>
  </div>
</div>
